booksSchema.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="books">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name = "book" type = "bookType" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="bookType">
        <xsd:sequence>
            <xsd:element name = "title" type="xsd:string"/>
            <xsd:element name = "author" type = "xsd:string"/>
            <xsd:element name = "genre" type = "xsd:string"/>
            <xsd:element name = "canBeReadAtHome" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>